services:
  db:
    image: postgres:15
    volumes:
      - postgres_data:/var/lib/postgresql/data
    networks:
      - web
    environment:
      POSTGRES_DB: ${DB_NAME}
      POSTGRES_USER: ${DB_USER}
      POSTGRES_PASSWORD: ${DB_PASSWORD}
    ports:
      - 5432:5432
  web:
    depends_on:
      - db
    build: .
    command: python manage.py runserver 0.0.0.0:8000
    volumes:
      - ./static/:/home/studyedge/static/
    ports:
      - 8000:8000
    entrypoint: ["/bin/sh", "/home/studyedge/entrypoint.sh"]
volumes:
  postgres_data:
networks:
  web:
