services:
  db:
    image: postgres:15
    volumes:
      - postgres_data:/var/lib/postgresql/data
    networks:
      - web
    environment:
      POSTGRES_DB: ${DB_NAME}
      POSTGRES_USER: ${DB_USER}
      POSTGRES_PASSWORD: ${DB_PASSWORD}
    ports:
      - "5432:5432"

  web:
    build: .
    command: gunicorn studyedgewebsite.wsgi:application --bind 0.0.0.0:8000 --workers 3
    entrypoint: ["/bin/sh", "/home/studyedge/entrypoint.sh"]
    depends_on:
      - db
    volumes:
      - static_volume:/home/studyedge/staticfiles
      - media_volume:/home/studyedge/media
    ports:
      - "8000:8000"
    env_file:
      - .env
    networks:
      - web

volumes:
  postgres_data:
  static_volume:
  media_volume:

networks:
  web:
