[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "==6.0"
psycopg2 = "==2.9.11"
django-environ = "==0.12.0"
django-tailwind = "*"
django-ckeditors = "*"
django-admin-interface = "*"
django-import-export = "*"
whitenoise = "*"

[dev-packages]

[requires]
python_version = "3.13"
