{% load static tailwind_tags %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>StudyEdge</title>
    {% tailwind_css %}
    <link rel="icon" href="{% static 'images/contents/SEE_Logo.jpeg' %}" type="image/x-icon">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/aos/2.3.4/aos.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css" integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="{% static 'css/base.css' %}" >
    {% block custom_css %} {% endblock %}
    
</head>
<body class="bg-gray-100 text-black dark:bg-gray-900 dark:text-white transition-colors duration-500">
    <!-- Header -->
   {% include 'partials/header.html' %}

    <!-- Main Content -->
    <main>
        {% block content %}
        {% endblock %}
    </main>

    <!-- Footer -->
    {% include 'partials/footer.html' %}
    <!-- Scripts -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/aos/2.3.4/aos.js"></script>
    <script src="{% static 'js/base.js' %}"></script>
    {% block custom_js %} {% endblock %}
</body>
</html>