{% load static %}

<section id="student-support" class="bg-gray-50 dark:bg-gray-900 py-20 transition-colors duration-500">
    <h2 class="text-3xl font-bold text-gray-800 dark:text-white mb-6 text-center">{{ student_support_title }}</h2>
    <div class="max-w-7xl mx-auto px-6 lg:px-8 grid md:grid-cols-2 gap-12 items-center">
        <!-- Left Image -->
        <div data-aos="fade-right" class="flex justify-center">
            <img src="{% static 'images/contents/student-support.jpg' %}" alt="Student Support" class="rounded-2xl shadow-lg w-full max-w-md object-cover">
        </div>

        <!-- Right Form -->
        <div data-aos="fade-left" class="bg-white dark:bg-gray-800 p-8 rounded-2xl shadow-lg">
            <h2 class="text-3xl font-bold text-gray-800 dark:text-white mb-6 text-center">Enter your details and get a free counselling session with our experts</h2>
        
            <form action="#" method="POST" class="space-y-5">
                {% csrf_token %}
                {{ form }}
                
                <!-- Submit -->
                <button type="submit"
                        class="w-full bg-[#1052a0] hover:bg-[#4178be] text-white py-3 rounded-lg transition-all duration-300 font-semibold shadow-md">
                Submit Details
                </button>
            </form>
        </div>
    </div>
</section>